@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url(/src/fonts/montserrat/montserrat.ttf);
}

@font-face {
  font-family: 'Montserrat-light';
  font-weight: normal;
  src: url(/src/fonts/montserrat/montserratlight.ttf);
}

@import "~bootstrap/scss/bootstrap-grid";

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.header-container{
  width: 1440px;
  margin: auto;
}

.header{
background-image: url(/src/images/header__background.png);

  &__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
}

.logo{
  display: inline-block;
  text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: #333333;
}

.menu{
  &__list{
    padding: 0;
  }

  &__item{
    font-size: 14px;
    line-height: 17px;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 28px;
  }

  &__item:last-child{
    padding-right: 0;
  }

  &__link{
    text-decoration: none;
    color: #333333;
  }

  
  &__link:hover{
    color: #00BF78;
  }
  
  &__link_selected{
    text-decoration: underline;
    color: #00BF78;
  }
}

.head-contacts{
  text-align: center;

  &__number{
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 8px;
  }

  &__working-hours{
    font-size: 11px;
    line-height: 14px;
    margin: 0;
  }
}

.main-info{
  /*width: 400px;      /*Убрать?*/
  &__text{
    font-family: 'Montserrat-light';
    margin-bottom: 60px;
  }
}

.sign-up-button{
  height: 50px;
  border-radius: 24px;
  border: #FB9475;
  background-color: #FB9475;
  color: white;
  font-size: 14px;

  &_big{
    width: 200px;
  }

  &_small{
    width: 110px;
  }

  &_very-big{
    width: 100%;
  }
}

.main-title{
  margin: 0;
  font-size: 48px;
}

.network{
  // justify-content: space-between;

  &_header{
    display: flex;
    flex-direction: column;
    height: 124px;
    justify-content: space-between;
  }

  &_contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 124px;
  }
  }

.social-button{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  opacity: 0.4;

  &_vk{
    background-image: url(/src/images/vk.png);
  }

  &_inst{
    background-image: url(/src/images/inst.png);
  }

  &_yutb{
    background-image: url(/src/images/yutb.png);
  }
}

.link{
  color: #278AFF;
}

.general-title{
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
  margin-top: 0;
}

.section{
  margin-bottom: 100px;

  &_grey{
    padding: 80px 0;
    background-color: #F8F6F7;
  }

  &_last{
    margin-bottom: 0;  
    padding: 40px 0;
    background-color: #F8F6F7; 
  }
}

.about-salon{
  color: #333333;
  
  &__text-top{
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  }

  &__text-buttom{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }
}

.about-salon-img{
  background-image: url("/src/images/about-salon__img.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 8px;
  padding: 20% 25%;

  &__link{
  max-width: 100%;
  max-height: 100%;
  }
}

.about-salon-height{
  height: 100%;
}

.popular-content{
  margin-top: -48px;

  & > div{
     margin-top: 48px;
  }
}

.content{
  &_icon-style{
    height: 115%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
  }

  &__img{
    margin: 0 0 20px 0;
  }

  &__img_icon{
    margin: 0;
  }
}

.text-item{
  &__title{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
  
  &__content_m{
    font-size: 14px;
    line-height: 22px;
  }

  &__content_sm{
    font-size: 14px;
    line-height: 17px;
  }

  &__content_s{
    font-size: 12px;
    line-height: 20px;
  }
}

.sub-title{
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 35px 0;
}

.prices{
  columns: 2;
  margin-top: 45px;
}

.price-value{
  color: #00BF78;
  margin-right: 120px;
  font-size: 20px;
  line-height: 24px;
}

.price-item{
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}

.info-text{
  margin: 0;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}

.info-sub-text{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}

.master-button{
  position:relative;   
  height:300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;

  &_master1{
    background-image: url(/src/images/masters/master1.png);
  }

  &_master2{
    background-image: url(/src/images/masters/master2.png);
  }

  &_master3{
    background-image: url(/src/images/masters/master3.png);
  }

  &_master4{
    background-image: url(/src/images/masters/master4.png);
  }

  &__over{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  text-align: center;
  opacity: 0.7;
  display:none;
  color: white;
  border-radius: 8px;
  }

  &__text{
    margin-top: 50%;
    font-size: 14px;
    line-height: 17px;
}
}

.master-button:hover .master-button__over{
  display:block;
}

.scroll-box{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 30px;
  margin: 0 -16%;
}

.works{
  position:relative;   
  height:338px;
  width: 338px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: none;
  margin-left: 30px;

  &_work1{
    background-image: url(/src/images/works/work1.png);
  }

  &_work2{
    background-image: url(/src/images/works/work2.png);
  }

  &_work3{
    background-image: url(/src/images/works/work3.png);
  }

  &_work4{
    background-image: url(/src/images/works/work4.png);
  }

  &__over{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  text-align: center;
  background: black;
  opacity: 0.3;
  display:none;
  border-radius: 8px;
  max-width: 100%;
  }

  &__link{
    margin-top: 40%;;
  }
}

.works:hover .works__over{
  display:block;
}

.works:hover{
  transform: scale(1.1);
}

.arrow{
display: flex;
justify-content: flex-end;

  &__item{
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    border: none;
    background-repeat: no-repeat;
    align-items: center;
  }

  &__item:hover{
    background-color: #F8F6F7;
  }
}

.brand-title{
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 40px;
}

.brand-item{
  opacity: 0.5;
}

.contacts{
  &__text{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__social{
    font-size: 12px;
    line-height: 14px;
    margin-top: 32px;
  }
}

.box-shadow{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  //padding: 40px 35px;
  padding: 10%;
}

.conditions-text{
  font-size: 12px;
  line-height: 15px;
}

.form-item{
  border-radius: 5px;
  padding: 3%;
  width: 100%;
  border: solid;
  border-width: thin;
  opacity: 0.3;
  font-size: 12px;
}

.footer{
  padding: 20px 0;
}

.footer-style{
  font-size: 12px;
  line-height: 15px;
}



