@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url(/src/fonts/montserrat/montserrat.ttf);
}

@font-face {
  font-family: 'Montserrat-light';
  font-weight: normal;
  src: url(/src/fonts/montserrat/montserratlight.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.header-container{
  width: 1440px;
  margin: auto;
}

.header{
background-image: url(/src/images/header__background.png);
width: 1440px;
height: 600px;

  &__top, &__bottom{
    padding-left: 165px;
   display: flex;
   justify-content: space-between;
   width: 1140px;
   align-items: center;
  }

  &__image{
    width: 524px;
    height: 510px;
  }

  &__network{
    display: flex;
    flex-direction: column;
    height: 124px;
    justify-content: space-between;
  }
}

.logo{
  display: inline-block;
  text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: #333333;
}

.menu{
  // width: 470px;

  &__ul{
    padding: 0;
  }

  &__item{
    font-size: 14px;
    line-height: 17px;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 28px;
  }

  &__item_position_last{
    padding-right: 0;
  }

  &__item:hover{
    color: #00BF78;
  }

  &__item_selected{
    text-decoration: underline;
    color: #00BF78;
  }
}

.contacts{
  text-align: center;

  &__number{
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 8px;
  }

  &__working-hours{
    font-size: 11px;
    line-height: 14px;
    margin: 0;
  }
}

.main-info{
  /*width: 400px;      /*Убрать?*/
  &__text{
    font-family: 'Montserrat-light';
    margin-bottom: 60px;
  }
}

.sign-up-button{
  height: 50px;
  border-radius: 24px;
  border: #FB9475;
  background-color: #FB9475;
  color: white;
  font-size: 14px;

  &_big{
    width: 200px;
  }

  &_small{
    width: 110px;
  }
}

.main-title{
  margin: 0;
  font-size: 48px;
}

.network-button{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  opacity: 0.4;
}

.network-button_vk{
  background-image: url(/src/images/vk.png);
}

.network-button_inst{
  background-image: url(/src/images/inst.png);
}

.network-button_yutb{
  background-image: url(/src/images/yutb.png);
}

@import "~bootstrap/scss/bootstrap-grid";

.general-title{
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
  margin-top: 0;
}

.section{
  padding-bottom: 100px;
}

.about-salon{
  color: #333333;
  
  &__text-top{
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  }

  &__text-buttom{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }
}

.about-salon-img{
  background-image: url("/src/images/about-salon__img.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 8px;
  padding: 20% 25%;
}

.about-salon-height{
  height: 100%;
}

.about-salon-img__botton{
  max-width: 100%;
  max-height: 100%;
}

.popular-content{
  padding-top: -48px;

  & > div{
     padding-top: 48px;
  }
}

.content{
  &_center{
    text-align: center; 
  }

  &_left{
    text-align: left; 
  }

  &__icon{
    width: 100%;
    height: 100%;
  }
}

.text-item{
  &__title{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
  
  &__content_m{
    font-size: 14px;
    line-height: 22px;
  }

  &__content_sm{
    font-size: 14px;
    line-height: 17px;
  }

  &__content_s{
    font-size: 12px;
    line-height: 20px;
  }
}

.sub-title{
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 35px 0;
}

.prices{
  columns: 2;
  margin-top: 45px;
}

.price-value{
  color: #00BF78;
  margin-right: 120px;
  font-size: 20px;
  line-height: 24px;
}

.price-item{
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}